@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist', system-ui, sans-serif;
  background-color: #090D16;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
